
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height:90vh;
}
.conteiner{
  height: 400px;
  width: 400px;
}
td{
  width: 130px;
  height: 130px;
  border: 1px solid black;
  text-align: center;
}

.main-con{
  display: block;
}

